@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prosto+One&display=swap');

.inputContainer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:0 1rem;
}

.label{
    font-size: 14px;
    padding: 8px 0;
    font-style: italic;
    color: #717274;
    font-family: 'Montserrat', sans-serif;

}

.input{
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    width: 100%;
    margin-top: 8px 0;
    font-style: italic;
    color: #000000;
    background: transparent;
}

.alertMessage{
    margin:4px 0 ;
    font-weight: 900;
    color: #E51058;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}