@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prosto+One&display=swap');
.card{
    height: 430px;
    width: 320px;
    border: none;
    background: linear-gradient(105.53deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    margin: 0;
    padding: .5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 24px rgba(18, 18, 18, 0.15);;
}

.logoholder{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.text{
    margin: 0;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    max-width: 9rem;
    font-weight:800 ;
    font-family: 'Montserrat', sans-serif;
}

.formContainer{
    margin: 0;
    padding: 0;
    position: relative;
}

.passwordText{
    position: absolute;
    right: 7px;
    color: #E51058;
    font-weight: 400;
    cursor: pointer;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.submitButton{
    position: absolute;
    background-color: #E51058;
    color: #ffffff;
    width:310px;
    height: 42px;
    top: 198px;
    left: 8px;
    padding: 1px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signupText{
    position: absolute;
    color: #000000;
    top: 270px;
    left: 70px;
    padding: 1px;
    font-family: 'Montserrat', sans-serif;
}

.signup{
    color: #E51058;
    margin-left: 3px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}


@media only screen and (max-width: 760px) {
    .card {
      background: #ffffff;
    }
  }